dashboardtaskvis.json
{
  "name": "dashboardtaskvis",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "get-tasks",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "879a0567-66b1-4961-a30e-093d73755b22",
      "name": "Webhook",
      "webhookId": "49842a46-4320-4230-9e07-48acdc992354"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1fSHWXpytqTPbKyFEUh204odPt1JhTLyrJFt11u9mDpk",
          "mode": "list",
          "cachedResultName": "Schedules",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fSHWXpytqTPbKyFEUh204odPt1JhTLyrJFt11u9mDpk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fSHWXpytqTPbKyFEUh204odPt1JhTLyrJFt11u9mDpk/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "bf0632ca-98b3-4517-b2ce-aa100f0317ce",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cNMoVJ37BLVgf0wh",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Grab the user ID that the dashboard sent\nconst uid = $('Webhook').first().json.body.uid;\n\n// Filter all sheet rows to only keep the ones matching this user\nconst tasks = $input.all()\n  .map(item => item.json)\n  .filter(task => task.uid === uid);\n\nreturn [{ json: { tasks } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "9863af1c-b20a-43ee-951c-30679cbc309f",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        624,
        0
      ],
      "id": "eacc1711-6422-4f42-a2b5-ff25a6d87621",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "2ae3037d-6ab2-4c03-a500-8e3e307ccac9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "84f0d5f9e9c3407f965098909dd92e84dad9de1a090302ddbebf9bf0941f4030"
  },
  "id": "eKA6kzf0q8BWqZV4",
  "tags": []
}