End of day digest.json
{
  "name": "End of day digest",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 21 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "aa4dc590-e982-44e3-a53d-89c503ca1a1a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1fSHWXpytqTPbKyFEUh204odPt1JhTLyrJFt11u9mDpk",
          "mode": "list",
          "cachedResultName": "Schedules",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fSHWXpytqTPbKyFEUh204odPt1JhTLyrJFt11u9mDpk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fSHWXpytqTPbKyFEUh204odPt1JhTLyrJFt11u9mDpk/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "b93b53e4-f9eb-42be-a409-35f805a2930f",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cNMoVJ37BLVgf0wh",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst istOffset = 5.5 * 60 * 60 * 1000;\nconst ist = new Date(now.getTime() + istOffset);\nconst today = ist.toISOString().split('T')[0];\n\nconst tasks = $input.all()\n  .map(i => i.json)\n  .filter(t => t.date === today);\n\nconst total = tasks.length;\nconst completed = tasks.filter(t => t.status === 'done').length;\nconst missed = tasks.filter(t => t.status === 'pending').length;\nconst score = total > 0 ? Math.round((completed / total) * 100) : 0;\n\nconst taskLines = tasks.map(t => {\n  const icon = t.status === 'done' ? '✅' : '❌';\n  return `${icon} ${t.task} (${t.startHour}:00 – ${t.endHour}:00)`;\n}).join('\\n');\n\nconst userEmail = tasks[0]?.uemail || '';\n\nreturn [{\n  json: { today, total, completed, missed, score, taskLines, userEmail }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "e328acad-3da8-43ea-9952-b743a901c5ce",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Code in JavaScript').item.json.userEmail }}",
        "subject": "=Your productivity report —{{ $('Get row(s) in sheet').item.json.date }}",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        992,
        0
      ],
      "id": "11e542ec-3343-4a1c-b1c6-286efe495961",
      "name": "Send a message",
      "webhookId": "c50d09dd-a562-466f-afab-e75dd83ea7c3",
      "credentials": {
        "gmailOAuth2": {
          "id": "vwe2K8Zrd2LN3ieD",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are DayFlow AI, a productivity coach doing an end of day review.\n\nDate: {{ $json.today }}\nTotal tasks: {{ $json.total }}\nCompleted: {{ $json.completed }}\nMissed: {{ $json.missed }}\nScore: {{ $json.score }}%\n\nTask breakdown:\n{{ $json.taskLines }}\n\nWrite a personalized end of day email with:\n1. Honest assessment of their day (2-3 sentences)\n2. One specific insight about their patterns\n3. Two concrete suggestions for tomorrow\n4. A motivational closing line\n\nBe direct and specific — no generic advice.\nMax 150 words. Sign off as \"DayFlow AI\".\n\nOnly output the email body. Nothing else.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        624,
        0
      ],
      "id": "385f6f44-e2e0-4a7a-b828-62cc753a2bb7",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        496,
        208
      ],
      "id": "6702aa57-3434-4026-a1f0-d50f1cffc779",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "yUe6pHind7XDBNmR",
          "name": "Groq account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "5a5a4f00-9e79-4fd7-838e-aaad65ad2002",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "84f0d5f9e9c3407f965098909dd92e84dad9de1a090302ddbebf9bf0941f4030"
  },
  "id": "zjTqucuxWWyAlJ5W",
  "tags": []
}