register.json
{
  "name": "register",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "register",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "7912dae8-94e6-4a71-9f5c-0c49d304dbc2",
      "name": "Webhook",
      "webhookId": "b1a61e88-22d1-4762-8393-21ac350d2f3b"
    },
    {
      "parameters": {
        "jsCode": "const { name, uemail, upass } = $input.first().json;\nconst uid = `user_${Date.now()}`;\nreturn [{\n  json: {\n    uid,\n    name,\n    uemail,\n    upass,\n    createdAt: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "ecb34f47-d4bf-4f24-a094-f3e87600665b",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"uid\": \"{{ $json.uid }}\",\n  \"name\": \"{{ $json.name }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        592,
        0
      ],
      "id": "d138fa10-9511-47af-a4ac-1800aa9ac5c9",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1fSHWXpytqTPbKyFEUh204odPt1JhTLyrJFt11u9mDpk",
          "mode": "list",
          "cachedResultName": "Schedules",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fSHWXpytqTPbKyFEUh204odPt1JhTLyrJFt11u9mDpk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 998385543,
          "mode": "list",
          "cachedResultName": "email and pass",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fSHWXpytqTPbKyFEUh204odPt1JhTLyrJFt11u9mDpk/edit#gid=998385543"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "uid": "={{ $json.uid }}",
            "uname": "={{ $('Webhook').item.json.body.name }}",
            "uemail": "={{ $('Webhook').item.json.body.uemail }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "uid",
              "displayName": "uid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "uname",
              "displayName": "uname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "uemail",
              "displayName": "uemail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        416,
        0
      ],
      "id": "a26cec83-8bed-41cb-b1eb-ac02ca6d35ca",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cNMoVJ37BLVgf0wh",
          "name": "Google Sheets OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "9a88adcf-43ee-4bc2-ad6f-1fd399ee0bc4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "84f0d5f9e9c3407f965098909dd92e84dad9de1a090302ddbebf9bf0941f4030"
  },
  "id": "icIaQRWDIaowyV7z",
  "tags": []
}