ra/workflows/deletedataatdayend.json
{
  "name": "deletedataatdayend",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "31 18 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "6acf8bc8-f5d9-4841-b5e0-d05dcbad3070",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1fSHWXpytqTPbKyFEUh204odPt1JhTLyrJFt11u9mDpk",
          "mode": "list",
          "cachedResultName": "Schedules",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fSHWXpytqTPbKyFEUh204odPt1JhTLyrJFt11u9mDpk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fSHWXpytqTPbKyFEUh204odPt1JhTLyrJFt11u9mDpk/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "82f1914c-01fb-4f83-8130-c2046ed0166c",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cNMoVJ37BLVgf0wh",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const yesterday = new Date(Date.now() - 86400000).toISOString().split('T')[0];\n\nconst rowsToDelete = $input.all()\n  .map(i => i.json)\n  .filter(t => t.date === yesterday)\n  .map(t => t.row_number);\n\nreturn rowsToDelete.map(row => ({ json: { row_number: row } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "0d701ee1-e07b-4079-8016-2965a68b4fb8",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "1fSHWXpytqTPbKyFEUh204odPt1JhTLyrJFt11u9mDpk",
          "mode": "list",
          "cachedResultName": "Schedules",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fSHWXpytqTPbKyFEUh204odPt1JhTLyrJFt11u9mDpk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fSHWXpytqTPbKyFEUh204odPt1JhTLyrJFt11u9mDpk/edit#gid=0"
        },
        "startIndex": "={{ $json.row_number }}",
        "numberToDelete": 10000
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        624,
        0
      ],
      "id": "2bb8405a-c2df-44be-b8c3-c47177050586",
      "name": "Delete rows or columns from sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cNMoVJ37BLVgf0wh",
          "name": "Google Sheets OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Delete rows or columns from sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "37759647-67b8-4396-af92-bcf0a766791b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "84f0d5f9e9c3407f965098909dd92e84dad9de1a090302ddbebf9bf0941f4030"
  },
  "id": "ITxt1krEAWiwP3nv",
  "tags": []
}