ra/workflows/login.json
{
  "name": "login",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "login",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "8fdbdb73-928e-45d7-b81d-e6e5ec9d965f",
      "name": "Webhook",
      "webhookId": "d2b43081-840d-4223-a7af-e7510fdb4efe"
    },
    {
      "parameters": {
        "jsCode": "const webhookData = $('Webhook').first().json;\nconst uemail = webhookData.uemail;\nconst upass = webhookData.upass;\n\nconst users = $input.all().map(i => i.json);\n\nconst match = users.find(u =>\n  u.email === uemail &&\n  u.password === upass\n);\n\nif (!match) {\n  return [{\n    json: { success: false, message: 'Invalid email or password' }\n  }];\n}\n\nreturn [{\n  json: { success: true, name: match.name, email: match.email,uid: match.uid }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "13d01417-fd18-4436-9cba-7cd3caec75d8",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        624,
        0
      ],
      "id": "0577d6d1-e790-4f28-aa0d-5c9a7a6dbb35",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1fSHWXpytqTPbKyFEUh204odPt1JhTLyrJFt11u9mDpk",
          "mode": "list",
          "cachedResultName": "Schedules",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fSHWXpytqTPbKyFEUh204odPt1JhTLyrJFt11u9mDpk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 998385543,
          "mode": "list",
          "cachedResultName": "email and pass",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fSHWXpytqTPbKyFEUh204odPt1JhTLyrJFt11u9mDpk/edit#gid=998385543"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "e42cc55d-d055-413d-8e65-268f86a77984",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cNMoVJ37BLVgf0wh",
          "name": "Google Sheets OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "b654f84e-e1c4-4bf8-b3d2-06e208dc4965",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "84f0d5f9e9c3407f965098909dd92e84dad9de1a090302ddbebf9bf0941f4030"
  },
  "id": "5riA2rRptU4oI8g2",
  "tags": []
}