ra/workflows/Missed alert.json
{
  "name": "Missed alert",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -192,
        0
      ],
      "id": "736cea8e-9152-41c5-ae6a-c98498d5de63",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1fSHWXpytqTPbKyFEUh204odPt1JhTLyrJFt11u9mDpk",
          "mode": "list",
          "cachedResultName": "Schedules",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fSHWXpytqTPbKyFEUh204odPt1JhTLyrJFt11u9mDpk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fSHWXpytqTPbKyFEUh204odPt1JhTLyrJFt11u9mDpk/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -48,
        0
      ],
      "id": "f972f63e-6d01-42bd-90d6-e9667985dd11",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cNMoVJ37BLVgf0wh",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst istOffset = 5.5 * 60 * 60 * 1000;\nconst ist = new Date(now.getTime() + istOffset);\nconst currentHour = ist.getHours() + ist.getMinutes() / 60;\nconst today = ist.toISOString().split('T')[0];\n\nconst tasks = $input.all().map(i => i.json);\n\nconst missedTasks = tasks.filter(t =>\n  t.date === today &&\n  t.status === 'pending' &&\n  currentHour > Number(t.endHour)\n);\n\nif (missedTasks.length === 0) return [];\n\nreturn missedTasks.map(t => {\n  const overrunMinutes = Math.round((currentHour - Number(t.endHour)) * 60);\n  const overrunHours = Math.floor(overrunMinutes / 60);\n  const overrunMins = overrunMinutes % 60;\n  const overrunText = overrunHours > 0\n    ? `${overrunHours}h ${overrunMins}m ago`\n    : `${overrunMins}m ago`;\n  return { json: { ...t, overrunText } };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        96,
        0
      ],
      "id": "64619011-d903-4822-88c4-e3d5c29d5072",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Code in JavaScript').item.json.uemail }}",
        "subject": "=Missed task: {{ $('Code in JavaScript').item.json.task }}",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        720,
        -16
      ],
      "id": "8fad01e8-4fc0-448c-8503-2a37152fc341",
      "name": "Send a message",
      "webhookId": "944cd6ee-8fe8-498c-bfaa-f91a9790e611",
      "credentials": {
        "gmailOAuth2": {
          "id": "vwe2K8Zrd2LN3ieD",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are DayFlow AI, a productivity coach.\n\nThe user missed a scheduled task:\n\nTask: {{ $json.task }}\nWas scheduled: {{ $json.startHour }}:00 – {{ $json.endHour }}:00\nEnded: {{ $json.overrunText }}\n\nWrite a firm but kind alert email (max 5 lines).\nAddress them directly, reference the exact task.\nEncourage them to get back on track.\nSign off as \"DayFlow AI\".\n\nOnly output the email body. Nothing else.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        256,
        0
      ],
      "id": "e0d71f06-dc75-420f-916e-d0e53940ab99",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -384,
        224
      ],
      "id": "5bea5d2c-f3f8-4ddd-8ec1-a230c3d0cead",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "tgBlowL6yzVWhMca",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2f4e8b92-fb54-42db-b1af-8bbc2a5f6851",
              "leftValue": "={{ $json.candidates[0].content.parts[0].text }}",
              "rightValue": "NO_MISSED_TASKS",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        544,
        0
      ],
      "id": "754bd9cc-60d0-4e32-916c-5b700e1c6ed3",
      "name": "If"
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        128,
        208
      ],
      "id": "b17da7b8-7c07-4123-aad4-cdcd1692eb09",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "yUe6pHind7XDBNmR",
          "name": "Groq account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "5e014ccf-39a3-4983-8a38-5a44255e8364",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "84f0d5f9e9c3407f965098909dd92e84dad9de1a090302ddbebf9bf0941f4030"
  },
  "id": "F2HhRykYrCIaYKYr",
  "tags": []
}